@page
@model ShortUrl.Pages.InvalidUrlModel
@{
    ViewData["Title"] = "Invalid URL";
}

<h1>Invalid URL</h1>
<p>The shortened URL you are trying to access is no longer valid or has been deleted.</p>
<p><a asp-page="/Index">Return to homepage</a></p>